.sec-1 {
  background-color: #1f2937;
}

.header {
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.link-container {
  display: flex;
  gap: 20px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0 100px;
}

.hero-text {
  height: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin-bottom: 1vh;
}

p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 20%;
}

.hero-image {
  color: white;
  background-color: #808080;
  padding: 5vh 5vw;
}

.sec-2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.rand-info {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.holders {
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 60px;
}

img {
  border: 5px solid #3882f6;
  border-radius: 25%;
  padding: 60px;
}

.subtext {
  text-align: center;
}

.sec-3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}

.source {
  align-self: flex-end;
  font-weight: bold;
  font-style: 18px;
}
