.top {
  background-color: #1f2937;
}

.header {
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.link-container {
  display: flex;
  gap: 20px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

p {
  font-size: 18px;
  color: #e5e7eb;
}
